<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixishi.zhanwei.mapper.ManagerMapper">
    <resultMap id="managerMap" type="manager">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="createTime" column="create_time"/>
        <result property="phone" column="phone"/>
        <result property="enabled" column="enabled"/>
        <result property="avator" column="avator"/>
    </resultMap>



<!--    foreach批量处理-->
    <update id="batchEnabled" parameterType="Long">
        update manager set enabled = true where id in(
            <foreach collection="idList" item="id" index="index" separator=",">
                #{id}
            </foreach>
            )
    </update>
</mapper>